.button
  display: inline-block
  outline: none
  text-decoration: none
  color: #fff
  font-size: 18px
  font-weight: 700
  padding: 16px 34px
  text-transform: uppercase
  transition: .25s
  white-space: nowrap

  +to($break_sm)
    font-size: 14px

  &-red
    background: $red
    &:hover
      background: darken($red, 10%)

  &-large
    font-size: 24px
    +to($break_sm)
      font-size: 18px

  &-arrow
    position: relative
    padding: 21px 42px 21px 21px
    &:after
      content: url('../images/icons/arrow-right.png')      
      position: absolute
      right: 0
      top: 50%
      transform: translate(50%, -50%)
      transition: .25s
    &:hover
      &:after
        margin-right: -12px


button
  border: none
  cursor: pointer