input
  width: 100%
  border: none
  background: transparent
  border-bottom: 2px solid $dark-blue
  outline: none
  font-size: 21px
  padding: 16px 0
  color: $baseTxt
  +placeholder
    color: $baseTxt
    font-family: $baseFont
    font-size: 21px

  +to($break_xs)
    font-size: 16px
    +placeholder
      font-size: 16px