
h1, h2, h4, h4, h5
  font-family: $sndFont

h1
  font-size: 27px
  font-weight: 700
  +to($break_xs)
    font-size: 21px

h2
  font-size: 30px
  font-weight: 700
  +to($break_xs)
    font-size: 21px

h3
  font-size: 24px
  font-weight: 400
  +to($break_xs)
    font-size: 21px


/* fonts */

.snd-font
  font-family: $sndFont
.thrd-font
  font-family: $thrdFont

/* short classes */

.d-inline-b
  display: inline-block

.text-white
  color: #fff
.text-black
  color: #000
.text-base
  color: $baseTxt
.text-red
  color: $red
.text-blue
  color: $blue
.text-gray
  color: $gray
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-upper
  text-transform: uppercase
.text-underline
  text-decoration: underline
.fw-bold
  font-weight: 700

.extra
  &:after
    content: '*'
    display: inline-block

.pos-rel
  position: relative


/* layout flexbox */
.flex
  display: flex
.flex-wrap
  flex-wrap: wrap
.flex-column
  flex-direction: column
.justify-center
  justify-content: center
.justify-start
  justify-content: flex-start
.justify-end
  justify-content: flex-end
.justify-between
  justify-content: space-between
.justify-center
  justify-content: center
.align-start
  align-items: flex-start
.align-end
  align-items: flex-end
.align-between
  align-items: space-between
.align-center
  align-items: center
.flex-shrink
  flex-shrink: 0
.flex-grow
  flex-grow: 1


/* links */

.link
  text-decoration: none
  color: inherit

/* font-size */

.fsz-72
  font-size: 72px
  +to($break_sm)
    font-size: 50px
  +to($break_xs)
    font-size: 35px
  
.fsz-30
  font-size: 30px
.fsz-26
  font-size: 26px
.fsz-24
  font-size: 24px
.fsz-21
  font-size: 21px
.fsz-17
  font-size: 17px
  line-height: 1.4
.fsz-14
  font-size: 14px
  line-height: 1.4



/* width */
.w100
  width: 100%
  max-width: 100%!important