.page-1


.header
  background: $b-gradient
  padding: 40px 0
  z-index: 2
  position: relative

  &__logo
    margin-top: 30px

  &__top
    margin-bottom: 85px

  &__title
    margin-bottom: 60px
    margin-top: 0

  &__phone
    margin-bottom: 10px
    display: block

  &__price
    margin-bottom: 30px
    .extra
      margin-right: 10px
      &:after
        font-size: 30px
        transform: translateY(-30px)
        margin-left: 12px

  &__info
    opacity: .8

  &__button
    .button
      margin-bottom: 34px

  &__banner
    position: absolute
    right: 8%
    top: 30px
    z-index: -1

  .label
    position: absolute
    z-index: 2
    transform: translateY(50%)

  +to($break_md)
    &__banner
      right: -20px
      top: auto
      bottom: 50px

  +to($break_sm)
    &__logo
      margin-top: 0
    &__phone
      font-size: 20px
    &__banner
      bottom: -20px
      right: 0
    &__top
      margin-bottom: 40px

  +to($break_xs)
    padding: 20px 0 80px
    &__top
      flex-direction: column
      align-items: center
      text-align: center
    &__logo
      margin-bottom: 25px

    &__banner
      top: 30%
      bottom: auto


.section-promo
  padding: 85px 0
  .blue-box
    margin-top: 150px
  &__text    
    .snd-font
      margin-bottom: 32px

  &__banner
    margin-top: -75px
    margin-left: -80px
    position: relative
    z-index: 2
    img
      margin-right: -75px
      max-width: none
  &__form
    margin-left: 135px
    margin-top: -60px
    margin-right: -15px
    .input-wrap
      margin-right: 20px
    button
      margin-top: 8px

  .img4k
    width: 90px

  +to($break_lg)
    &__banner
      margin-right: -70px
      img
        max-width: 100%

    .blue-box
      margin-top: 65px
      flex-shrink: 1

    &__form
      margin-top: -30px
      margin-right: 46px

  +to($break_md)
    &__form
      .flex
        flex-direction: column
      .input-wrap
        margin-right: 0
        margin-bottom: 25px
    
  +to($break_sm)
    padding: 40px 0
    .flex.align-start
      flex-direction: column

    &__banner
      margin-top: 25px
      margin-left: -20px
      margin-right: -42px

    &__form
      margin-left: 0
      margin-right: 0

  +to($break_xs)
    &__banner
      margin-left: 0
      margin-right: 0

    .blue-box__icons .img4k
      margin-right: 50%

    &__form
      margin-top: 0


.blue-box
  color: $light-gray
  background-image: $b-gradient
  padding: 80px 70px
  max-width: 515px
  position: relative

  &__title
    margin-bottom: 35px
    margin-top: 0

  &__icons
    position: absolute
    top: 0
    transform: translateY(-50%)
    .img4k
      margin-right: 100%

  +to($break_md)
    padding: 60px 40px

  +to($break_xs)
    padding-left: 25px
    padding-right: 25px


.tvprogram
  &__list
    margin-top: 50px
  &__item
    display: flex
    flex-direction: column
    margin: 0 -7px 

  &__desc
    margin-bottom: 42px
    flex-grow: 1
    margin-left: 25%

  +to($break_sm)
    &__item
      width: 50%

    &__list
      flex-wrap: wrap

    &__desc
      text-align: center
      margin-left: 0

  +to($break_xs)
    &__desc
      margin-bottom: 20px
    &__item
      width: 100%
      margin-left: 0
      margin-right: 0

    &__img
      text-align: center

.section-advant
  margin-top: 70px

  &__list
    margin-top: -70px
  &__text
    padding: 0 70px 55px
    h2
      margin-top: 0
  .blue-box
    margin-left: -33px
    box-sizing: content-box

    .label
      margin-left: 30px

  &__banner
    img
      max-width: none

  +to($break_lg)
    &__content
      width: 60%
    &__banner
      width: 40%
      img
        max-width: 100%

    .blue-box
      margin-top: -40px

  +to($break_md)
    .flex.align-start
      flex-direction: column

    &__banner
      width: 100%
      margin-bottom: 30px
    &__text
      padding-left: 0
      padding-right: 0
      padding-bottom: 35px
    &__content
      width: 100%

    .blue-box
      margin-top: 0
      margin-left: 0
      max-width: 100%

    &__list
      margin-top: 40px


.adv-item
  margin-bottom: 80px
  &__icon
    .iconic
      margin-right: 22px
      font-size: 25px
      color: $blue

  &__title
    margin-bottom: 22px

  &__text
    .iconic
      font-size: 12px
      color: $red
      margin-right: 18px
      margin-top: 4px
    p
      margin-top: 0

  +to($break_md)
    margin-bottom: 25px
    &__text
      br
        display: none

  +to($break_xs)
    &__title
      font-size: 18px


.youget
  color: #fff
  padding-bottom: 0
  box-sizing: border-box!important
  margin-left: 0!important
  .blue-box__icons
    left: 50%
    transform: translate(-50%,-50%)
    .label
      margin-left: 0

  &__list
    margin: 0 -60px

  &__title
    margin-bottom: 100px
    margin-top: 0

  &__item
    display: flex
    width: 50%
    box-sizing: border-box
    margin-bottom: 65px
    padding: 0 60px

  &__icon
    text-align: right
    margin-right: 30px
    flex-shrink: 0
    img
      width: 60px

  +to($break_sm)
    padding-bottom: 40px
    &__item
      width: 100%
      margin-bottom: 40px

    &__title
      margin-bottom: 60px

  +to($break_xs)
    &__text
      font-size: 15px



.install-form
  margin: 100px 0 90px
  +to($break_xs)
    margin: 60px 0 50px
  &__title
    margin-bottom: 90px
    margin-top: 0

  .button
    margin-top: 60px
    padding-left: 55px
    padding-right: 55px
    +to($break_xs)
      margin-top: 20px

  +to($break_sm)
    &__title
      margin-bottom: 40px