.footer
  background: $footer-gray
  padding: 55px 0 35px
  font-size: 12px
  line-height: 1.6
  color: #000000
  &__block
    &:first-child
      padding-right: 50px
    &:last-child
      max-width: 420px      

  p
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0

  &-social
    list-style-type: none
    margin: 0
    padding: 0
    margin-top: 40px
    &__link
      display: flex
      justify-content: center
      align-items: center
      width: 35px
      height: 35px
      border-radius: 50%
      background: #BAB9B9
      transition: .25s
      margin-right: 10px
      &:hover
        background: darken(#BAB9B9, 10%)
      img
        width: 18px
        height: 18px

  +to($break_sm)
    padding: 25px 0 35px
    .flex.justify-between
      flex-direction: column
    .footer__block:first-child
      padding-right: 0
      margin-bottom: 35px

  +to($break_xs)
    text-align: center
    &-social
      justify-content: center