
html, :root
  font-size: $baseRem
  overflow-x: hidden


body
  font-family: $baseFont
  font-size: $baseRem
  color: $baseTxt
  min-width: 320px
  padding: 0
  margin: 0
  overflow-x: hidden

  +to($break_xxs)
    font-size: rem(14px)


img
  max-width: 100%


@import 'footer'