extends ../template/template
include ../_mixins


block vars
  - title = '';
  - pageClass = ''

block content
  .page.page-1
    header.header.text-white
      .container.pos-rel
        .header__banner.pull-2
          img(src="../../images/page-1/header-banner-1.png", alt="")
        .header__top.flex.justify-between
          .header__logo.flex-shrink
            img(src="../../images/icons/logo.png", alt="")
          .header__contact
            a(href="tel:8(800)5000123").link.fsz-26.fw-bold.header__phone.snd-font 8 (800) <span class="text-red">500-01-23</span>
            .fsz-14.text-underline Звонок бесплатный
        .row
          .col-md-6
            .header-content
              h1.header__title Подключите HoReCa-пакет «Триколор» и экран в зале превратится в магнит для посетителей.
              p.fsz-21 Цена подключения с оборудованием:
              .header__price.snd-font
                .d-inline-b.fsz-72.extra 1250
                .d-inline-b.fsz-24
                  span.thrd-font ₽ 
                  span в месяц
              .header__button
                a(href="#!").button.button-red.button-arrow Оставить заявку
                .text-gray.fsz-14.header__info * Пакет «для маленьких заведений» без Ultra HD — 750 ₽ в месяц.
        .row
          .offset-10
            img(src="../../images/icons/label.png", alt="").label        

    .section-promo
      .container
        .row
          .col-md-10
            .section-promo__text
              p.fsz-21.snd-font.text-black Вы открываете кафе, придумываете атмосферу заведения, делаете дорогой интерьер, устанавливаете огромную плазму, чтобы показывать на ней… обычное ТВ?!
              p.fsz-14 Фанат футбола не будет смотреть Мундиаль, <br/> если на экране невозможно разглядеть <br/> игроков.
        
        .flex.align-start
          .blue-box.flex-shrink
            .blue-box__icons.flex.align-center
              img(src="../../images/icons/4k.svg", alt="").img4k
              img(src="../../images/icons/label.png", alt="").label
            h3.blue-box__title В HoReCa-пакет «Триколор» входят каналы в 4K Ultra HD качестве. 
            .fsz-14.text-gray Гости разглядят цвет глаз голкипера.

          .section-promo__banner
            img(src="../../images/page-1/promo-img-1.png", alt="")
            form.section-promo__form.js-validate
              .flex
                .input-wrap.flex-grow
                  input(type="text" placeholder="Телефон" cmi_id="Phone" class="js-phone")
                button.button.button-red Отправить заявку

    .tvprogram
      .container
        .row
          .col.offset-sm-3
            h2 А что, кроме спорта, есть в HoReCa-пакете  «Триколор»? 
            .fsz-21 Передачи для всех гостей и заведений:
      .tvprogram__list.flex.justify-center
        .tvprogram__item
          .tvprogram__desc.fsz-14 Mультики для детей
          .tvprogram__img
            img(src="../../images/page-1/tvprogramm-1.png", alt="")
        .tvprogram__item
          .tvprogram__desc.fsz-14 Природа для <br/> усталых менеджеров
          .tvprogram__img
            img(src="../../images/page-1/tvprogramm-2.png", alt="")
        .tvprogram__item
          .tvprogram__desc.fsz-14 10 спортивных каналов <br/> для болельщиков
          .tvprogram__img
            img(src="../../images/page-1/tvprogramm-3.png", alt="")
        .tvprogram__item
          .tvprogram__desc.fsz-14 5 музыкальных каналов для <br/> бодрых дискотек и спокойных <br/> медитаций над фалафелем
          .tvprogram__img
            img(src="../../images/page-1/tvprogramm-4.png", alt="")

    .section-advant
      .container
        .flex.align-start
          .section-advant__banner
            img(src="../../images/page-1/promo-img-2.jpg", alt="")
          .section-advant__content
            .section-advant__text
              h2 А почему так дорого? <br/> Я видел дешевле!
              p.fsz-17 Потому что вы платите не за «коробку с проводами», а за интересные передачи в максимальном качестве, и получаете не картинку в телевизоре, а довольных посетителей. К тому же для сетевых заведений есть скидки.

            .blue-box.flex-shrink
              .blue-box__icons
                img(src="../../images/icons/label.png", alt="").label
              h3.blue-box__title Под передачи «Триколор» потребление кофе растет на 10%, а мяса - на 20%*
              .fsz-14.text-gray * по результатам личных экспериментов
        .section-advant__list
          .row
            .col-lg-6
              .adv-item.flex
                .adv-item__icon
                  .iconic.iconic--adv-profile.flex-shrink
                .adv-item__desc
                  .adv-item__title.fsz-21 Мне некогда этим заниматься                  
                  .adv-item__text.flex
                    .iconic.iconic--triangle.flex-shrink
                    p Заполнить заявку - 2 минуты, обсудить условия и дату подключения - еще 5.
          .row
            .col-lg-6
              .adv-item.flex
                .adv-item__icon
                  .iconic.iconic--adv-profile.flex-shrink
                .adv-item__desc
                  .adv-item__title.fsz-21 Я боюсь за интерьер                
                  .adv-item__text.flex
                    .iconic.iconic--triangle.flex-shrink
                    p Приемник легко спрячется <br/> за телевизором.
            .col-lg-6
              .adv-item.flex
                .adv-item__icon
                  .iconic.iconic--adv-profile.flex-shrink
                .adv-item__desc
                  .adv-item__title.fsz-21 Мне не дадут разрешение на установку спутниковой тарелки!          
                  .adv-item__text.flex
                    .iconic.iconic--triangle.flex-shrink
                    p Теперь «Триколор» работает через интернет, причем Ultra HD-каналы доступны именно при интернет-вещании.
          .row
            .col-lg-6
              .adv-item.flex
                .adv-item__icon
                  .iconic.iconic--adv-profile.flex-shrink
                .adv-item__desc
                  .adv-item__title.fsz-21 Можно ли включить повтор матча (фильма, клипа), который понравился гостям?         
                  .adv-item__text.flex
                    .iconic.iconic--triangle.flex-shrink
                    p Да, в цифровом телевидении есть <br/> функция перемотки.
            .col-lg-6
              .adv-item.flex
                .adv-item__icon
                  .iconic.iconic--adv-profile.flex-shrink
                .adv-item__desc
                  .adv-item__title.fsz-21 А если нет интернета?
                  .adv-item__text.flex
                    .iconic.iconic--triangle.flex-shrink
                    p Тогда спутниковая тарелка. Если у вас есть <br/> розетка, у вас будет «Триколор».

    .container
      .blue-box.youget.w100
        .blue-box__icons
          img(src="../../images/icons/label.png", alt="").label
        h2.youget__title.text-center За 1250 <span class="thrd-font">₽</span> в месяц вы получаете:
        .youget__list.flex.flex-wrap
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-1.svg", alt="")
            .youget__text.fsz-17 ТВ-картинку такого качества, которое в России практически не встречается
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-2.svg", alt="")
            .youget__text.fsz-17 Просмотр передач в записи
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-3.svg", alt="")
            .youget__text.fsz-17 Пакет из 98 телеканалов
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-4.svg", alt="")
            .youget__text.fsz-17 Оборудование в комплекте
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-5.svg", alt="")
            .youget__text.fsz-17 Из них 20 — в Ultra HD
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-6.svg", alt="")
            .youget__text.fsz-17 Выбор подключения: интернет / <br/> спутниковая тарелка


    .install-form
      h2.install-form__title.text-center Подключайте «Триколор»
      form.js-validate
      .container
        .row
          .col-6
            .input-wrap.flex-grow
              input(type="text" placeholder="Ваше имя" cmi_id="Text")
          .col-6
            .input-wrap.flex-grow
              input(type="text" placeholder="Телефон" cmi_id="Phone" class="js-phone")
          .col-12.text-center
            button.button.button-red Отправить заявку


    include ../template/footer