@import iconfont

@font-face
    font-family: 'AvenirNextCyr'    
    src: url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'AvenirNextCyr'    
    src: url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'SegoeUI'
    src: url('../fonts/SegoeUI.ttf') format('truetype')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'SegoeUI'    
    src: url('../fonts/SegoeUI-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'Montserrat'    
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype')
    font-weight: 500
    font-style: normal
