@charset "UTF-8";
@font-face {
    font-family: "iconic";
    src: url('../fonts/iconic.eot');
    src: url('../fonts/iconic.eot?#iefix') format('eot'),
    url('../fonts/iconic.woff') format('woff'),
    url('../fonts/iconic.ttf') format('truetype'),
    url('../fonts/iconic.svg#iconic') format('svg');
}

@mixin iconic-styles {
    font-family: "iconic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    color: inherit;
    line-height: normal;
    vertical-align: middle;
}

.iconic {
    @include iconic-styles;
}

@function iconic-char($filename) {
    $char: "";
    
    @if $filename == adv-profile {
        $char: "\E001";
    }
    @if $filename == facebook {
        $char: "\E002";
    }
    @if $filename == instagram {
        $char: "\E003";
    }
    @if $filename == odnoklassniki {
        $char: "\E004";
    }
    @if $filename == triangle {
        $char: "\E005";
    }
    @if $filename == twitter {
        $char: "\E006";
    }
    @if $filename == youtube {
        $char: "\E007";
    }

    @return $char;
}

@mixin iconic($filename, $insert: after, $extend: true) {
    &:#{$insert} {
        content: iconic-char($filename);
    }
}

.iconic--adv-profile {
    @include iconic(adv-profile);
}
.iconic--facebook {
    @include iconic(facebook);
}
.iconic--instagram {
    @include iconic(instagram);
}
.iconic--odnoklassniki {
    @include iconic(odnoklassniki);
}
.iconic--triangle {
    @include iconic(triangle);
}
.iconic--twitter {
    @include iconic(twitter);
}
.iconic--youtube {
    @include iconic(youtube);
}