@charset "UTF-8";
/* *************** libs ******************************* */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@-ms-viewport {
  width: device-width; }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%; } }

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 100%; } }

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px; } }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto; }

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.pull-0 {
  right: auto; }

.pull-1 {
  right: 8.333333%; }

.pull-2 {
  right: 16.666667%; }

.pull-3 {
  right: 25%; }

.pull-4 {
  right: 33.333333%; }

.pull-5 {
  right: 41.666667%; }

.pull-6 {
  right: 50%; }

.pull-7 {
  right: 58.333333%; }

.pull-8 {
  right: 66.666667%; }

.pull-9 {
  right: 75%; }

.pull-10 {
  right: 83.333333%; }

.pull-11 {
  right: 91.666667%; }

.pull-12 {
  right: 100%; }

.push-0 {
  left: auto; }

.push-1 {
  left: 8.333333%; }

.push-2 {
  left: 16.666667%; }

.push-3 {
  left: 25%; }

.push-4 {
  left: 33.333333%; }

.push-5 {
  left: 41.666667%; }

.push-6 {
  left: 50%; }

.push-7 {
  left: 58.333333%; }

.push-8 {
  left: 66.666667%; }

.push-9 {
  left: 75%; }

.push-10 {
  left: 83.333333%; }

.push-11 {
  left: 91.666667%; }

.push-12 {
  left: 100%; }

.offset-1 {
  margin-left: 8.333333%; }

.offset-2 {
  margin-left: 16.666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.333333%; }

.offset-5 {
  margin-left: 41.666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.333333%; }

.offset-8 {
  margin-left: 66.666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.333333%; }

.offset-11 {
  margin-left: 91.666667%; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto; }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.333333%; }
  .pull-sm-2 {
    right: 16.666667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.333333%; }
  .pull-sm-5 {
    right: 41.666667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.333333%; }
  .pull-sm-8 {
    right: 66.666667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.333333%; }
  .pull-sm-11 {
    right: 91.666667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.333333%; }
  .push-sm-2 {
    left: 16.666667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.333333%; }
  .push-sm-5 {
    left: 41.666667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.333333%; }
  .push-sm-8 {
    left: 66.666667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.333333%; }
  .push-sm-11 {
    left: 91.666667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.333333%; }
  .offset-sm-2 {
    margin-left: 16.666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.333333%; }
  .offset-sm-5 {
    margin-left: 41.666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.333333%; }
  .offset-sm-8 {
    margin-left: 66.666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.333333%; }
  .offset-sm-11 {
    margin-left: 91.666667%; } }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto; }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.333333%; }
  .pull-md-2 {
    right: 16.666667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.333333%; }
  .pull-md-5 {
    right: 41.666667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.333333%; }
  .pull-md-8 {
    right: 66.666667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.333333%; }
  .pull-md-11 {
    right: 91.666667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.333333%; }
  .push-md-2 {
    left: 16.666667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.333333%; }
  .push-md-5 {
    left: 41.666667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.333333%; }
  .push-md-8 {
    left: 66.666667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.333333%; }
  .push-md-11 {
    left: 91.666667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.333333%; }
  .offset-md-2 {
    margin-left: 16.666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.333333%; }
  .offset-md-5 {
    margin-left: 41.666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.333333%; }
  .offset-md-8 {
    margin-left: 66.666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.333333%; }
  .offset-md-11 {
    margin-left: 91.666667%; } }

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto; }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.333333%; }
  .pull-lg-2 {
    right: 16.666667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.333333%; }
  .pull-lg-5 {
    right: 41.666667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.333333%; }
  .pull-lg-8 {
    right: 66.666667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.333333%; }
  .pull-lg-11 {
    right: 91.666667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.333333%; }
  .push-lg-2 {
    left: 16.666667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.333333%; }
  .push-lg-5 {
    left: 41.666667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.333333%; }
  .push-lg-8 {
    left: 66.666667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.333333%; }
  .push-lg-11 {
    left: 91.666667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .offset-lg-1 {
    margin-left: 8.333333%; }
  .offset-lg-2 {
    margin-left: 16.666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.333333%; }
  .offset-lg-5 {
    margin-left: 41.666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.333333%; }
  .offset-lg-8 {
    margin-left: 66.666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.333333%; }
  .offset-lg-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto; }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.333333%; }
  .pull-xl-2 {
    right: 16.666667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.333333%; }
  .pull-xl-5 {
    right: 41.666667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.333333%; }
  .pull-xl-8 {
    right: 66.666667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.333333%; }
  .pull-xl-11 {
    right: 91.666667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.333333%; }
  .push-xl-2 {
    left: 16.666667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.333333%; }
  .push-xl-5 {
    left: 41.666667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.333333%; }
  .push-xl-8 {
    left: 66.666667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.333333%; }
  .push-xl-11 {
    left: 91.666667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .offset-xl-1 {
    margin-left: 8.333333%; }
  .offset-xl-2 {
    margin-left: 16.666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.333333%; }
  .offset-xl-5 {
    margin-left: 41.666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.333333%; }
  .offset-xl-8 {
    margin-left: 66.666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.333333%; }
  .offset-xl-11 {
    margin-left: 91.666667%; } }
/* *************** base ******************************* */
/* bases */
/**************** media queries *******************/
/**************** calculateRem *******************/
/**************** pseudo after/before *******************/
/**************** placeholder *******************/
/**************** center block *******************/
@font-face {
  font-family: "iconic";
  src: url("../fonts/iconic.eot");
  src: url("../fonts/iconic.eot?#iefix") format("eot"), url("../fonts/iconic.woff") format("woff"), url("../fonts/iconic.ttf") format("truetype"), url("../fonts/iconic.svg#iconic") format("svg"); }

.iconic {
  font-family: "iconic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: inherit;
  line-height: normal;
  vertical-align: middle; }

.iconic--adv-profile:after {
  content: ""; }

.iconic--facebook:after {
  content: ""; }

.iconic--instagram:after {
  content: ""; }

.iconic--odnoklassniki:after {
  content: ""; }

.iconic--triangle:after {
  content: ""; }

.iconic--twitter:after {
  content: ""; }

.iconic--youtube:after {
  content: ""; }

@font-face {
  font-family: 'AvenirNextCyr';
  src: url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNextCyr';
  src: url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

.button {
  display: inline-block;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 34px;
  text-transform: uppercase;
  transition: .25s;
  white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .button {
      font-size: 14px; } }
  .button-red {
    background: #e40f32; }
    .button-red:hover {
      background: #b40c28; }
  .button-large {
    font-size: 24px; }
    @media screen and (max-width: 768px) {
      .button-large {
        font-size: 18px; } }
  .button-arrow {
    position: relative;
    padding: 21px 42px 21px 21px; }
    .button-arrow:after {
      content: url("../images/icons/arrow-right.png");
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
      transition: .25s; }
    .button-arrow:hover:after {
      margin-right: -12px; }

button {
  border: none;
  cursor: pointer; }

input {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid #0d2671;
  outline: none;
  font-size: 21px;
  padding: 16px 0;
  color: #181d20; }
  input.placeholder {
    color: #181d20;
    font-family: "SegoeUI", sans-serif;
    font-size: 21px; }
  input:-moz-placeholder {
    color: #181d20;
    font-family: "SegoeUI", sans-serif;
    font-size: 21px; }
  input::-moz-placeholder {
    color: #181d20;
    font-family: "SegoeUI", sans-serif;
    font-size: 21px; }
  input:-ms-input-placeholder {
    color: #181d20;
    font-family: "SegoeUI", sans-serif;
    font-size: 21px; }
  input::-webkit-input-placeholder {
    color: #181d20;
    font-family: "SegoeUI", sans-serif;
    font-size: 21px; }
  @media screen and (max-width: 576px) {
    input {
      font-size: 16px; }
      input.placeholder {
        font-size: 16px; }
      input:-moz-placeholder {
        font-size: 16px; }
      input::-moz-placeholder {
        font-size: 16px; }
      input:-ms-input-placeholder {
        font-size: 16px; }
      input::-webkit-input-placeholder {
        font-size: 16px; } }

h1, h2, h4, h4, h5 {
  font-family: "AvenirNextCyr"; }

h1 {
  font-size: 27px;
  font-weight: 700; }
  @media screen and (max-width: 576px) {
    h1 {
      font-size: 21px; } }

h2 {
  font-size: 30px;
  font-weight: 700; }
  @media screen and (max-width: 576px) {
    h2 {
      font-size: 21px; } }

h3 {
  font-size: 24px;
  font-weight: 400; }
  @media screen and (max-width: 576px) {
    h3 {
      font-size: 21px; } }

/* fonts */
.snd-font {
  font-family: "AvenirNextCyr"; }

.thrd-font {
  font-family: "Montserrat"; }

/* short classes */
.d-inline-b {
  display: inline-block; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-base {
  color: #181d20; }

.text-red {
  color: #e40f32; }

.text-blue {
  color: #00509D; }

.text-gray {
  color: #9c9fae; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-upper {
  text-transform: uppercase; }

.text-underline {
  text-decoration: underline; }

.fw-bold {
  font-weight: 700; }

.extra:after {
  content: '*';
  display: inline-block; }

.pos-rel {
  position: relative; }

/* layout flexbox */
.flex {
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-column {
  -ms-flex-direction: column;
      flex-direction: column; }

.justify-center {
  -ms-flex-pack: center;
      justify-content: center; }

.justify-start {
  -ms-flex-pack: start;
      justify-content: flex-start; }

.justify-end {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.justify-between {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.justify-center {
  -ms-flex-pack: center;
      justify-content: center; }

.align-start {
  -ms-flex-align: start;
      align-items: flex-start; }

.align-end {
  -ms-flex-align: end;
      align-items: flex-end; }

.align-between {
  -ms-flex-align: space-between;
      align-items: space-between; }

.align-center {
  -ms-flex-align: center;
      align-items: center; }

.flex-shrink {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.flex-grow {
  -ms-flex-positive: 1;
      flex-grow: 1; }

/* links */
.link {
  text-decoration: none;
  color: inherit; }

/* font-size */
.fsz-72 {
  font-size: 72px; }
  @media screen and (max-width: 768px) {
    .fsz-72 {
      font-size: 50px; } }
  @media screen and (max-width: 576px) {
    .fsz-72 {
      font-size: 35px; } }

.fsz-30 {
  font-size: 30px; }

.fsz-26 {
  font-size: 26px; }

.fsz-24 {
  font-size: 24px; }

.fsz-21 {
  font-size: 21px; }

.fsz-17 {
  font-size: 17px;
  line-height: 1.4; }

.fsz-14 {
  font-size: 14px;
  line-height: 1.4; }

/* width */
.w100 {
  width: 100%;
  max-width: 100% !important; }

/* *************** template ******************************* */
html, :root {
  font-size: 16px;
  overflow-x: hidden; }

body {
  font-family: "SegoeUI", sans-serif;
  font-size: 16px;
  color: #181d20;
  min-width: 320px;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 0.875rem; } }

img {
  max-width: 100%; }

.footer {
  background: #f5f6f8;
  padding: 55px 0 35px;
  font-size: 12px;
  line-height: 1.6;
  color: #000000; }
  .footer__block:first-child {
    padding-right: 50px; }
  .footer__block:last-child {
    max-width: 420px; }
  .footer p {
    margin-bottom: 25px; }
    .footer p:last-child {
      margin-bottom: 0; }
  .footer-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 40px; }
    .footer-social__link {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: #BAB9B9;
      transition: .25s;
      margin-right: 10px; }
      .footer-social__link:hover {
        background: #a19f9f; }
      .footer-social__link img {
        width: 18px;
        height: 18px; }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 25px 0 35px; }
      .footer .flex.justify-between {
        -ms-flex-direction: column;
            flex-direction: column; }
      .footer .footer__block:first-child {
        padding-right: 0;
        margin-bottom: 35px; } }
  @media screen and (max-width: 576px) {
    .footer {
      text-align: center; }
      .footer-social {
        -ms-flex-pack: center;
            justify-content: center; } }

/* *************** pages ******************************* */
.header {
  background: linear-gradient(to top, #0d2671 0%, #00509d 100%);
  padding: 40px 0;
  z-index: 2;
  position: relative; }
  .header__logo {
    margin-top: 30px; }
  .header__top {
    margin-bottom: 85px; }
  .header__title {
    margin-bottom: 60px;
    margin-top: 0; }
  .header__phone {
    margin-bottom: 10px;
    display: block; }
  .header__price {
    margin-bottom: 30px; }
    .header__price .extra {
      margin-right: 10px; }
      .header__price .extra:after {
        font-size: 30px;
        transform: translateY(-30px);
        margin-left: 12px; }
  .header__info {
    opacity: .8; }
  .header__button .button {
    margin-bottom: 34px; }
  .header__banner {
    position: absolute;
    right: 8%;
    top: 30px;
    z-index: -1; }
  .header .label {
    position: absolute;
    z-index: 2;
    transform: translateY(50%); }
  @media screen and (max-width: 992px) {
    .header__banner {
      right: -20px;
      top: auto;
      bottom: 50px; } }
  @media screen and (max-width: 768px) {
    .header__logo {
      margin-top: 0; }
    .header__phone {
      font-size: 20px; }
    .header__banner {
      bottom: -20px;
      right: 0; }
    .header__top {
      margin-bottom: 40px; } }
  @media screen and (max-width: 576px) {
    .header {
      padding: 20px 0 80px; }
      .header__top {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center;
        text-align: center; }
      .header__logo {
        margin-bottom: 25px; }
      .header__banner {
        top: 30%;
        bottom: auto; } }

.section-promo {
  padding: 85px 0; }
  .section-promo .blue-box {
    margin-top: 150px; }
  .section-promo__text .snd-font {
    margin-bottom: 32px; }
  .section-promo__banner {
    margin-top: -75px;
    margin-left: -80px;
    position: relative;
    z-index: 2; }
    .section-promo__banner img {
      margin-right: -75px;
      max-width: none; }
  .section-promo__form {
    margin-left: 135px;
    margin-top: -60px;
    margin-right: -15px; }
    .section-promo__form .input-wrap {
      margin-right: 20px; }
    .section-promo__form button {
      margin-top: 8px; }
  .section-promo .img4k {
    width: 90px; }
  @media screen and (max-width: 1200px) {
    .section-promo__banner {
      margin-right: -70px; }
      .section-promo__banner img {
        max-width: 100%; }
    .section-promo .blue-box {
      margin-top: 65px;
      -ms-flex-negative: 1;
          flex-shrink: 1; }
    .section-promo__form {
      margin-top: -30px;
      margin-right: 46px; } }
  @media screen and (max-width: 992px) {
    .section-promo__form .flex {
      -ms-flex-direction: column;
          flex-direction: column; }
    .section-promo__form .input-wrap {
      margin-right: 0;
      margin-bottom: 25px; } }
  @media screen and (max-width: 768px) {
    .section-promo {
      padding: 40px 0; }
      .section-promo .flex.align-start {
        -ms-flex-direction: column;
            flex-direction: column; }
      .section-promo__banner {
        margin-top: 25px;
        margin-left: -20px;
        margin-right: -42px; }
      .section-promo__form {
        margin-left: 0;
        margin-right: 0; } }
  @media screen and (max-width: 576px) {
    .section-promo__banner {
      margin-left: 0;
      margin-right: 0; }
    .section-promo .blue-box__icons .img4k {
      margin-right: 50%; }
    .section-promo__form {
      margin-top: 0; } }

.blue-box {
  color: #d2d6eb;
  background-image: linear-gradient(to top, #0d2671 0%, #00509d 100%);
  padding: 80px 70px;
  max-width: 515px;
  position: relative; }
  .blue-box__title {
    margin-bottom: 35px;
    margin-top: 0; }
  .blue-box__icons {
    position: absolute;
    top: 0;
    transform: translateY(-50%); }
    .blue-box__icons .img4k {
      margin-right: 100%; }
  @media screen and (max-width: 992px) {
    .blue-box {
      padding: 60px 40px; } }
  @media screen and (max-width: 576px) {
    .blue-box {
      padding-left: 25px;
      padding-right: 25px; } }

.tvprogram__list {
  margin-top: 50px; }

.tvprogram__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 -7px; }

.tvprogram__desc {
  margin-bottom: 42px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin-left: 25%; }

@media screen and (max-width: 768px) {
  .tvprogram__item {
    width: 50%; }
  .tvprogram__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .tvprogram__desc {
    text-align: center;
    margin-left: 0; } }

@media screen and (max-width: 576px) {
  .tvprogram__desc {
    margin-bottom: 20px; }
  .tvprogram__item {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .tvprogram__img {
    text-align: center; } }

.section-advant {
  margin-top: 70px; }
  .section-advant__list {
    margin-top: -70px; }
  .section-advant__text {
    padding: 0 70px 55px; }
    .section-advant__text h2 {
      margin-top: 0; }
  .section-advant .blue-box {
    margin-left: -33px;
    box-sizing: content-box; }
    .section-advant .blue-box .label {
      margin-left: 30px; }
  .section-advant__banner img {
    max-width: none; }
  @media screen and (max-width: 1200px) {
    .section-advant__content {
      width: 60%; }
    .section-advant__banner {
      width: 40%; }
      .section-advant__banner img {
        max-width: 100%; }
    .section-advant .blue-box {
      margin-top: -40px; } }
  @media screen and (max-width: 992px) {
    .section-advant .flex.align-start {
      -ms-flex-direction: column;
          flex-direction: column; }
    .section-advant__banner {
      width: 100%;
      margin-bottom: 30px; }
    .section-advant__text {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 35px; }
    .section-advant__content {
      width: 100%; }
    .section-advant .blue-box {
      margin-top: 0;
      margin-left: 0;
      max-width: 100%; }
    .section-advant__list {
      margin-top: 40px; } }

.adv-item {
  margin-bottom: 80px; }
  .adv-item__icon .iconic {
    margin-right: 22px;
    font-size: 25px;
    color: #00509D; }
  .adv-item__title {
    margin-bottom: 22px; }
  .adv-item__text .iconic {
    font-size: 12px;
    color: #e40f32;
    margin-right: 18px;
    margin-top: 4px; }
  .adv-item__text p {
    margin-top: 0; }
  @media screen and (max-width: 992px) {
    .adv-item {
      margin-bottom: 25px; }
      .adv-item__text br {
        display: none; } }
  @media screen and (max-width: 576px) {
    .adv-item__title {
      font-size: 18px; } }

.youget {
  color: #fff;
  padding-bottom: 0;
  box-sizing: border-box !important;
  margin-left: 0 !important; }
  .youget .blue-box__icons {
    left: 50%;
    transform: translate(-50%, -50%); }
    .youget .blue-box__icons .label {
      margin-left: 0; }
  .youget__list {
    margin: 0 -60px; }
  .youget__title {
    margin-bottom: 100px;
    margin-top: 0; }
  .youget__item {
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 65px;
    padding: 0 60px; }
  .youget__icon {
    text-align: right;
    margin-right: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .youget__icon img {
      width: 60px; }
  @media screen and (max-width: 768px) {
    .youget {
      padding-bottom: 40px; }
      .youget__item {
        width: 100%;
        margin-bottom: 40px; }
      .youget__title {
        margin-bottom: 60px; } }
  @media screen and (max-width: 576px) {
    .youget__text {
      font-size: 15px; } }

.install-form {
  margin: 100px 0 90px; }
  @media screen and (max-width: 576px) {
    .install-form {
      margin: 60px 0 50px; } }
  .install-form__title {
    margin-bottom: 90px;
    margin-top: 0; }
  .install-form .button {
    margin-top: 60px;
    padding-left: 55px;
    padding-right: 55px; }
    @media screen and (max-width: 576px) {
      .install-form .button {
        margin-top: 20px; } }
  @media screen and (max-width: 768px) {
    .install-form__title {
      margin-bottom: 40px; } }
