include ../_mixins

block vars
   - var title;
   - var pageClass = '';

<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="format-detection" content="telephone=no")
    // build:css css/vendor.min.css
    // bower:css
    // endbower    
    // endbuild
    // build:css css/commin.min.css
    link(href="../../css/common.css", rel="stylesheet")
    // endbuild
    title #{title}
  body
        
    block content
  
    
    // build:js scripts/vendor.min.js
    // bower:js
    script(src='../../../vendor/jquery/dist/jquery.js')
    // endbower
    //- inject-not-bower:js
    script(src="../../scripts/libs/jquery.inputmask.bundle.min.js")
    script(src="../../scripts/libs/parsley.min.js")
    //- endinject
    // endbuild        
    // build:js scripts/common.min.js
    script(src="../../globConfigJs/config.js")
    //- inject:js    
        
    script(src="../../scripts/common.js")    
        
    //- endinject
    // endbuild